* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
}

html {
  @include font-regular;

  font-size: 16px;
  color: $color-text-dark;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  display: block;
}

h1,
.h1 {
  font-size: 2em;
}

h2,
.h2 {
  font-size: 1.8em;
}

h3,
.h3 {
  font-size: 1.6em;
}

h4,
.h4 {
  font-size: 1.4em;
}

h5,
.h5 {
  font-size: 1.2em;
}

h6,
.h6 {
  font-size: 1em;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  @include font-bold;
}
