$time-hover: 0.3s;

$color-dark: hsl(0, 0%, 13.7%);

$color-brand-main: hsl(53.4, 100%, 50%);
$color-brand-secondary: hsl(42.5, 98%, 60.8%);

$color-button: hsl(94, 100%, 42.2%);
$color-button-hover: hsl(80.5, 100%, 42%);

$color-text-light: hsl(0, 0%, 100%);
$color-text-brand: $color-brand-main;
$color-text-medium: hsl(0, 0%, 65.5%);
$color-text-dark: $color-dark;

$color-bg-main: $color-brand-main;
$color-bg-light: hsl(0, 0%, 92.2%);
$color-bg-medium: hsl(0, 0%, 76.5%);
$color-bg-dark: $color-dark;
